--- 
layout: default 
---

<!-- Page Content -->
<div class="container">

    <!-- Page Header -->
    <div class="header">

        <h1 class="page-header">Emily Saltz</h1>
        <h3>Product Design, UX Research, Content Strategy </h3>
    </div>
    <div class="projects">
    <div id="featured" class="col-md-12">
        <br>
        <br>
        <br>
        <h2>case studies</h2>
        <br>
    </div>
    <div class="posts">

      <div class="col-md-6 main-portfolio-item">
            <article class="post">
                <a class="post-link" href="/bloomberg">

                    <div class="img-wrapper">
                        <img class="img-responsive" src="img/bloomberg-cover2.png" alt="" />

                        <div class="text-test">
                            <p>Exploring Financial Data Nonvisually (In Progress)</p>
                            <p>Bloomberg L.P.</p>
                        </div>
                    </div>


                </a>
            </article>
        </div>
      <div class="col-md-6 main-portfolio-item">
            <article class="post">
                <a class="post-link" href="/copilot">

                    <div class="img-wrapper">
                        <img class="img-responsive" src="img/copilot-cover.png" alt="" />

                        <div class="text-test">
                            <p>CoPilot: Asthma Management for Children</p>
                            <p>Philips Healthcare</p>
                        </div>
                    </div>


                </a>
            </article>
        </div>
        <div class="col-md-6 main-portfolio-item">
            <article class="post">
                <a class="post-link" href="/podfinder">

                    <div class="img-wrapper">
                        <img class="img-responsive" src="img/podfinder-700x400.png" alt="" />

                        <div class="text-test">
                            <p>Podcast Search Feature Design</p>
                            <p>Audiosear.ch by Pop Up Archive</p>
                        </div>
                    </div>


                </a>
            </article>
        </div>
        <div class="col-md-6 main-portfolio-item">
            <article class="post">
                <a class="post-link" href="/case-studies/ucre-researchers.html">

                    <div class="img-wrapper">
                        <img class="img-responsive" src="img/700x400-ucre.png" alt="" />

                        <div class="text-test">
                            <p>Researching Researchers: Contextual Inquiry Research Study</p>
                            <p>uReveal Search Analytics</p>
                        </div>
                    </div>


                </a>

            </article>
        </div>

        <!--
        {% for post in site.posts %}
        <div class="col-md-4 portfolio-item">
            <article class="post">
                            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><img class="img-responsive" src="../img/{{ post.banner_img }}" alt="" /></a>

            <div class="entry">
                {{ post.description }}
            </div>
            </article>
        </div>
        {% endfor %}
-->

    </div>
    <div id="emerging-media" class="col-md-12">
        <br>
        <br>
        <br>
        <h2>emerging media</h2>
        <br>
    </div>
    <div class="posts">
        <!--
    {% for post in site.play.posts %}
                <article class="post">
                            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><img class="img-responsive" src="../img/{{ post.banner_img }}" alt="" /></a>

            <div class="entry">
                {{ post.description }}
            </div>

            </article>
        </div>
        {% endfor %}
-->


        <div class="col-md-4 portfolio-item">
            <article class="post">
                <a class="post-link" href="/emerging-media/close.html">

                    <div class="img-wrapper">
                        <img class="img-responsive" src="img/close-700x400.png" alt="" />

                        <div class="text-test">
                            <p>Close (but not too close)</p>
                            <p>Interactive art installation</p>
                        </div>
                    </div>
                </a>
            </article>
        </div>
        <div class="col-md-4 portfolio-item">
            <article class="post">
                <a class="post-link" href="/biofeedback-chat.html">
                    <div class="img-wrapper">
                        <img class="img-responsive" src="img/biofeedback-700x400.png" alt="" />
                        <div class="text-test">
                            <p>Biofeedback Chat with Kinetic Type</p>
                            <p>Expressive Biofeedback Pilot Study</p>
                        </div>
                    </div>
                </a>

            </article>
        </div>

        <div class="col-md-4 portfolio-item">
            <article class="post">

                <a class="post-link" href="/emerging-media/vr-news-bubble.html">
                    <div class="img-wrapper">
                        <img class="img-responsive" src="img/vr-700x400.png" alt="" />
                        <div class="text-test">
                            <p>VR News Bubble</p>
                            <p>Social VR concept</p>
                        </div>
                    </div>
                </a>

            </article>
        </div>

        <div class="col-md-4 portfolio-item">
            <article class="post">
                <a class="post-link" href="/emerging-media/breathe-io.html">

                    <div class="img-wrapper">
                        <img class="img-responsive" src="img/breathio-700x400.png" alt="" />
                        <div class="text-test">
                            <p>BreatheIO Bot</p>
                            <p>A Slackbot for breathing exercises</p>
                        </div>
                    </div>

                </a>
            </article>
        </div>

        <div class="col-md-4 portfolio-item">
            <article class="post">
                <a class="post-link" href="/emerging-media/amviewlate.html">
                    <div class="img-wrapper">
                        <img class="img-responsive" src="img/amviewlate-700x400.png" alt="" />
                        <div class="text-test">
                            <p>Amviewlate</p>
                            <p>Voice-activated AR guide for Parkinson's Disease</p>
                        </div>
                    </div>
                </a>


            </article>
        </div>




    </div>
    <div id="play" class="col-md-12">
        <br>
        <br>
        <br>
        <h2>play</h2>
        <br>
    </div>
    <div class="posts">
        <!--
    {% for post in site.play.posts %}
                <article class="post">
                            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><img class="img-responsive" src="../img/{{ post.banner_img }}" alt="" /></a>

            <div class="entry">
                {{ post.description }}
            </div>

            </article>
        </div>
        {% endfor %}
-->



        <div class="col-md-4 portfolio-item">
            <article class="post">
                <a class="post-link" href="/play/illustration-mashups.html">
                    <div class="img-wrapper">
                        <img class="img-responsive" src="img/illustration-700x400.png" alt="" />
                        <div class="text-test">
                            <p>Vintage Illustration Mashups</p>
                            <p>Vector re-creations of Soviet print designs</p>
                        </div>
                    </div>
                
                
                </a>
            </article>
        </div>
        <div class="col-md-4 portfolio-item">
            <article class="post">
                <a class="post-link" href="/play/into-the-mode.html">
                    <div class="img-wrapper">
                        <img class="img-responsive" src="img/intothemode-700x400.png" alt="" />
                        <div class="text-test">
                            <p>Into the Mode</p>
                            <p>An interactive history of text editing</p>
                        </div>
                    </div>
                
                </a>
            </article>
        </div>

        <div class="col-md-4 portfolio-item">
            <article class="post">
                <a class="post-link" href="/play/2016-1-1-popcast.html">
                    <div class="img-wrapper">
                        <img class="img-responsive" src="img/ezgif.com-resize.gif" alt="" />
                        <div class="text-test">
                            <p>2016 Film and Diversity Report</p>
                            <p>Web showcase for an interactive data visualization about representation of gender and ethnicity in ten films from 2016.</p>
                        </div>
                    </div>
                
                </a>
            </article>
        </div>

        <div class="col-md-4 portfolio-item">
            <article class="post">
                <a class="post-link" href="/play/2016-1-1-popcast.html">
                    <div class="img-wrapper">
                        <img class="img-responsive" src="img/vr-glitch/cover.png" alt="" />
                        <div class="text-test">
                            <p>VR Glitch</p>
                            <p>Experiments in 3D Scene Design</p>
                        </div>
                    </div>
                
                </a>
            </article>
        </div>
        <div class="col-md-4 portfolio-item">
            <article class="post">
                <a class="post-link" href="/play/2016-1-1-popcast.html">
                    <div class="img-wrapper">
                        <img class="img-responsive" src="img/voxanon.jpg" alt="" />
                        <div class="text-test">
                            <p>VoxAnon</p>
                            <p>Audio Hackathon</p>
                        </div>
                    </div>
                
                </a>
            </article>
        </div>

        <div class="col-md-4 portfolio-item">
            <article class="post">
                <a class="post-link" href="/play/2016-1-1-popcast.html">
                    <div class="img-wrapper">
                        <img class="img-responsive" src="img/popcast-new-700x400.png" alt="" />
                        <div class="text-test">
                            <p>Popcast</p>
                            <p>Archival found sound podcast for Pop Up Archive</p>
                        </div>
                    </div>
                
                </a>
            </article>
        </div>



    </div>
    </div>
</div>
</div>