--- 
layout: resume 
permalink: resume
--- 
{% include head.html %} {% include nav.html %}
<div class="container">

    <!-- Portfolio Item Heading -->
    <div class="fullpost">
      <div class="post"></div>
       <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Resume</h2>

            <h2>
                 <a href="/saltz-resume-color.pdf" class="download" download>
                     <span class="fa fa-download fa-1x" aria-hidden="true"></span> download pdf
                 </a>
            </h2>
            <hr>
            <img src="/img/resume.png" class="img-responsive">
        </div>
    </div>
    </div>
</div>
</div>
{% include footer.html %}