--- 
layout: writing 
--- 
{% include head.html %} {% include nav.html %}
<!--
    <div class="header-writing">
        
                <h1 class="page-header">Writing</h1>
                <h3>Master's Candidate in Human-Computer Interaction @ Carnegie Mellon University</h3>
                <h3>Available for full-time positions starting fall 2017</h3>
    </div>
-->
    <div class="fullpost">
    <div class="post">
    <div class="container">

    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1>Writing</h1>
            <h2>Here are some things I've written.</h2>
            <p></p>
            <hr>
            
<p>
    <a href="http://mediashift.org/2014/08/speech-recognition-for-media-its-not-all-about-accuracy/" target="_blank">Speech Recognition for Media: It’s Not All About Accuracy (Mediashift | PBS Idea Lab)</a>
</p>
<p><a href="http://us5.campaign-archive2.com/?u=832c18aae4790d85320ab01da&id=d04fd4de7b" target="_blank">Bob Hope & Atomic Bill (Popcast Archival Sound Podcast)</a></p>
<p><a href="http://blog.popuparchive.com/lessons-from-this-american-lifes-audio-hackathon/" target="_blank">Lessons from This American Life’s audio hackathon (Pop Up Archive)</a></p>

<p>
    <a href="http://blog.popuparchive.com/can-personal-taste-power-podcast-discovery/"  target="_blank">Can personal taste power podcast discovery? (Pop Up Archive)</a>
</p>
<p>
    <a href="https://medium.com/@PopUpArchive/what-we-found-by-using-speech-technology-for-political-analysis-5c402d28ad53#.9f2igjeqr" target="_blank">Using speech technology for political analysis (Medium)</a>
</p>
<p><a href="http://us5.campaign-archive2.com/?u=832c18aae4790d85320ab01da&id=d04fd4de7b" target="_blank">Combining humans and machines to describe audio (Pop Up Archive)</a></p>
        </div>
    </div>

</div>
</div>
</div>
{% include footer.html %}