--- 
layout: writing 
permalink: writing
--- 

{% include head.html %} 
{% include nav.html %}
<!--
    <div class="header-writing">
        
                <h1 class="page-header">Writing</h1>
                <h3>Master's Candidate in Human-Computer Interaction @ Carnegie Mellon University</h3>
                <h3>Available for full-time positions starting fall 2017</h3>
    </div>
-->
<div class="fullpost">
    <div class="post">
        <div class="container">

            <!-- Portfolio Item Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1>Writing</h1>
                    <h2>Here are some things I've written on topics ranging from speech technology to Virtual Reality.</h2>
                    <p></p>
                    <hr>

                    <section>
                        <article>
                            <p>
                                <a href="http://mediashift.org/2014/08/speech-recognition-for-media-its-not-all-about-accuracy/" target="_blank">Speech Recognition for Media: It’s Not All About Accuracy (Mediashift | PBS Idea Lab)
                        </a>
                            </p>
                            <p></p>
                        </article>                        
                       <article>
                            <p>
                                <a href="http://bit.ly/2l4Plr4" target="_blank">Reflection on Weird Reality: Moving past magic and novelty (Medium)
                                </a>
                            </p>
                            <p></p>
                        </article>

                        <article>
                            <p>
                                <a href="https://soundcloud.com/popuparchive/bob-hope-and-atomic-bill" target="_blank">Bob Hope & Atomic Bill (Popcast Podcast)</a>
                            </p>
                            <p>I wrote the script for this podcast episode about "The Quick and the Dead," a 1950 NBC special about atomic energy hosted by Bob Hope, and edited the scripts for all other episodes of Pop Up Archive's Popcast series of archival micro-podcasts.</p>
                        </article>

                        <article>
                            <p>
                                <a href="http://blog.popuparchive.com/lessons-from-this-american-lifes-audio-hackathon/" target="_blank">Lessons from This American Life’s audio hackathon (Pop Up Archive)</a>
                            </p>
                        </article>

                        <article>
                            <p>
                                <a href="http://blog.popuparchive.com/can-personal-taste-power-podcast-discovery/" target="_blank">Can personal taste power podcast discovery? (Pop Up Archive)</a>
                            </p>
                        </article>

                        <article>
                            <p>
                                <a href="https://medium.com/@PopUpArchive/what-we-found-by-using-speech-technology-for-political-analysis-5c402d28ad53#.9f2igjeqr" target="_blank">Using speech technology for political analysis (Medium)</a>
                            </p>
                        </article>
                        <article>
                            <p>
                                <a href="http://us5.campaign-archive2.com/?u=832c18aae4790d85320ab01da&id=d04fd4de7b" target="_blank">Combining humans and machines to describe audio (Pop Up Archive)</a>
                            </p>
                        </article>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
{% include footer.html %}