--- 
permalink: biofeedback-chat 
--- 
{% include head.html %}
{% include post-nav.html %}

<div class="container post">

        <!-- Portfolio Item Heading -->
        <div class="row project-top">
            <div class="col-lg-12">
                <h1 class="page-header"> Expressive Biofeedback Chatsdfdssdfdhfdghgfsdfdf
                   <br />
                    <small>A pilot study exploring sharing chat text with animations based on biofeedback from a wristband sensor</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="/img/biofeedback/text-animate.gif" alt="" />
            </div>

            <div class="col-md-4 overview">
                <h3>Project Description</h3>
                <p>A user research project using Contextual Inquiry methods to define pain points in the academic research process</p>
                <ul>
                    <li><span class="highlight">Advised by:</span> Professor Geoffrey Kaufmann &amp; PhD Candidate Fannie Liu</li>
                    <li>Tools: </li>
                    <li>Methods: </li>
                    <li>Adipiscing Elit</li>
                </ul>
            </div>

        </div>
        <!-- Portfolio Item Detail -->
        <div class="row">    
            <div class="col-lg-12">
                <h2>The problem</h2>
                <p>
                <a href="https://github.com/Saltzshaker/bio-kinetic-typography-chat">Github</a>
                </p>
                <img src="/img/ucre/process-diamond.png" alt="Process double diamond" class="img-responsive" />
                <img src="/img/ucre/speeddate.png" alt="Speed-dating story board" class="img-responsive" />
            </div>
        </div>





</div>
{% include footer.html %}