---
permalink: bloomberg
---
{% include head.html %}
{% include post-nav.html %}

<div class="container post">

    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                    Understanding Financial Data Nonvisually (In progress)<br />
<!--                    <small>Research and wireframes toward an intuitive podcast show search UI</small>-->

                </h1>
        </div>
    </div>
    <hr />
    <!-- /.row -->


    <!-- Portfolio Item Row -->
    <div class="row project-top">

        <div class="col-md-8">
            <img class="img-responsive" src="/img/bloomberg-cover2.png" alt="" />
        </div>

        <div class="col-md-4 overview">
            <h3>Overview</h3>
            <p>People with visual impairments are at a major professional disadvantage in finance because most data is presented in visual graphs. I'm working with a team of five to research and design a solution to close that gap. </p>
            <h3>Project Details</h3>
            <h2>Role</h2>
            <p>Interaction Designer & UX Research Lead</p>
            <!--
            <h2>Methods</h2>
            <p>Contextual Inquiry, Prototyping, Book Design, Survey Design</p>
-->
            <h2>Tools</h2>
            <p>InDesign, Illustrator, Sketch, Mural, Google Forms, Google Sheets, Keynote, Streak CRM</p>
        </div>

    </div>
    <!-- Portfolio Item Detail -->

    <div class="row">
        <div class="col-md-8">
            <h3>Current Status</h3>
            <p>This is a seven-month capstone project for Carnegie Mellon's HCI Master's degree with Bloomberg as our client sponsor, and is a work in progress. Our team of five is currently on site in New York prototyping, user testing, and building solutions until August 2017. We presented our initial research findings to Bloomberg in May.</p>
        </div>
    </div>
<div class="row">
    <div class="col-md-8">
        <h3>Spring Research Book</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a href="https://drive.google.com/file/d/0B-zBNNBwju-nLURPQTYzXzFJajQ/view?usp=sharing" target="_blank">
            <img class="img-responsive" src="../img/bloomberg-port/spring-cover.png" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" alt="">
        </a>
            <figcaption class="figure-caption">Spring Research Book: Front Cover</figcaption>
    </div>
    <div class="col-md-4">
        <a href="https://drive.google.com/file/d/0B-zBNNBwju-nLURPQTYzXzFJajQ/view?usp=sharing" target="_blank">
            <img class="img-responsive" src="../img/bloomberg-port/spring-inside.png" alt="" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            
        </a>
            <figcaption class="figure-caption">Spring Research Book: First Page</figcaption>
    </div>
</div>

    <div class="row">
        <div class="col-md-8">
            <H3>The Problem</H3>
            <p>In January 2017, Bloomberg approached our team of Carnegie Mellon Master’s HCI students to conduct an eight-month design and research project based on the following prompt:
                <p style="margin: 20px;"><em>How might we improve the accessibility of financial data for clients and employees with visual impairments at Bloomberg?</em></p>

                <p>Through a full day kick-off summit with our client at Bloomberg, we led a series of design activities, from <a href=”https://www.fastcodesign.com/3060573/how-brainstorming-questions-not-ideas-sparks-creativity”>questionstorming</a> to affinity clustering our hopes and fears for the project, in order to better understand Bloomberg’s goals and define our research agenda for the coming months. Through these activities, we recognized an opportunity to create better tools for accessing financial visualizations like stock charts non-visually for visually impaired and sighted users alike.</p>

        </div>
        <div class="col-md-2">
            <img src="../img/bloomberg-port/cropped-compare.png" class="img-responsive">
            <!--            <img src="../img/bloomberg-port/cropped-intersection.png" class="img-responsive">-->
            <img src="../img/bloomberg-port/cropped-outlier.png" class="img-responsive">
            <!--            <img src="../img/bloomberg-port/cropped-peaks-valleys.png" class="img-responsive">-->
            <figcaption class="figure-caption">Sighted people use visual cues like peaks and valleys and outliers to understand trends in data: how can we provide this benefit nonvisually?</figcaption>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <h3>Secondary Research Findings</h3>
        </div>
    </div>
    <div class="row">

        <div class="col-md-8">
            <p>To begin understanding the complex problem spaces, I led the recruiting effort and field guide creation for our team to interview ten subject matter experts in accessibility, emerging technology, and finance, respectively. Our team also split up dozens research papers on accessibility, cognitive science, data visualization, and emerging technology.</p>
            <p>Every week, we conveyed our findings to each other and developed a shared understanding by clustering notes to see what themes emerged in each research space. We compiled our findings into a secondary research report, in which I wrote and designed the chapter <em>An Overview of People with Visual Impairments.</em></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <a href="https://drive.google.com/file/d/0ByoKchjIPDmoYnpLZHFjWkMwd0U/view?usp=sharing" target="_blank">
                <img class="img-responsive" src="../img/bloomberg-port/secondary%20cover.png" alt="">
                <figcaption class="figure-caption">Secondary Research Report</figcaption>
            </a>

        </div>
        <div class="col-md-6">

            <div class="pop">

                <img src="../img/bloomberg-port/secondary-affinity.png" class="img-responsive">
                <figcaption class="figure-caption">Themes from secondary research on visual impairment and emerging technology</figcaption>
            </div>

            <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <img src="" class="imagepreview" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <div class="row">

        <div class="col-md-8">
            <h3>Understanding Visually Impaired Users</h3>
            <!--            <p>Overview of process</p>-->
            <h2>Non-visual Finance Simulation Exercises</h2>
        </div>
    </div>

    <div class="row">

        <div class="col-md-8">
            <p>Right away, we anticipated the risk that five fully sighted designers might face while designing for people with visual impairments. We sought ways to confront our biases misconceptions about the abilities and diabilities of people with visual impairments. We knew that for a sighted person to simply put on a blindfold and attempt to navigate the world was a surefire way to inspire either misguided awe or pity for people who are blind: not only do many people who are blind have some light and shape perception, but people who are blind develop expert skills for adapting to the world without sight — skills which can't be approximated through a few minutes with a blindfold. Knowing this, we researched best practices for building empathy and confronting biases in the context of our research. </p>
            <p>We used this research to wrote our own experiment protocol. In this exercise, we first learned the basics of the Apple VoiceOver screen reader, and then used it to navigate our bank accounts on both laptops and iPhones. After this exercise we identified our own biases and expectations as sighted designers, which we were able to challenge and validate through subsequent interviews with people who are skilled blind users of the Apple screen reader.</p>
            <h2>Screener Survey</h2>
            <p>We were initially unsure of how many people with blindness worked with financial data, so I created and distributed an accessible online screener survey through Google Forms. Our survey screened for people with visual impairments who use many of the same tools as finance workers, such as spreadsheets and programming languages. In total, we received 203 responses: 189 of these were legally blind, ranging from moderate to total vision loss with no light perception. Encouragingly, over 40% of respondents had checked financial data in the last 30 days.
            </p>
            

        </div>
                <div class="col-md-4">
            <img src="../img/bloomberg-port/other-Empathy-Exercise.jpg" class="img-responsive" style="margin-top:0;">
            <figcaption class="figure-caption">Teammate Jayanth Prathipati uses accesses his bank account through an audio screen reader.</figcaption>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="pop">

                <img src="../img/bloomberg-port/task-chart.png" class="img-responsive">
                <figcaption class="figure-caption">A chart of tasks recently completed by visually impaired survey respondants.</figcaption>
            </div>

            <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <img src="" class="imagepreview" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--    START SCREENER-->
    <!--
        <div class="row">
            <div class="col-md-8">
                <h2>Screener Survey</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p>We were initially unsure of how many people with blindness worked with financial data, so I created and distributed an accessible online screener survey through Google Forms. Our survey screened for people with visual impairments who use many of the same tools as finance workers, such as spreadsheets and programming languages.
                </p>
                <p>
                In total, we received 203 responses: 189 of these were legally blind, ranging from moderate to total vision loss with no light perception. Encouragingly, over 40% of respondents had checked financial data in the last 30 days.
                </p>
            </div>
        </div>
-->
    <!--    END SCREENER-->

    <!--    START CI PWVI-->
    <div class="row">
        <div class="col-md-8">
            <h2>Contextual Inquiry with People with Visual Impairments</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p>We then scheduled remote and in-person interviews with 10 people with severe visual impairments: five with congenital blindness, and five whose vision declined later in life. I created a field guide of questions and tasks to capture our central questions around how people with visual impairments currently access financial information. We observed how our interviewees accessed financial data in real time, and asked them to recount their experience with accessing visualizations in other contexts.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img src="../img/bloomberg-port/Bluetooth%20Keyboard.JPG" class="img-responsive">
            <figcaption class="figure-caption">One of our interviewees customized a bluetooth keyboard with tactile stickers to find his place while typing.</figcaption>
        </div>
        <div class="col-md-4">

            <img src="../img/bloomberg-port/jayanth-walkthewall.JPG" class="img-responsive">
            <figcaption class="figure-caption">Affinity model</figcaption>
        </div>
    </div>
    <!--    END PWVI CI -->
    <!--    START SYNTH-->


    <!--    END SYNTH-->

    <!--    START HELP MODEL-->
    <div class="row">
        <div class="col-md-8">
            <h3>Help Model and Persona</h3>
            <p>From our research, we came together on an user persona: Laura Lee is an accomplished person with visual impairments working in finance who is competent assessing tabular data, but struggles with accessing complex visual data as efficiently and confidently as her peers. This persona is consistent with many of the visually impaired professionals we spoke with.</p>
            <p>Through both firsthand stories and subject matter experts working in orientation and mobility programs for people who experience severe vision loss later in life, we pieced together a model of where people with visual impairments find help in the workplace, and the tradeodds of that help.</p>
        </div>

    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="pop">

                <img src="../img/bloomberg-port/helpmodel.png" class="img-responsive">
            </div>

            <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <img src="" class="imagepreview" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="pop">

                <img src="../img/bloomberg-port/persona-1.png" class="img-responsive">
                <figcaption class="figure-caption">Persona</figcaption>
            </div>

            <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <img src="" class="imagepreview" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
    <!--    END HELP MODEL-->

    <!--    START PERSONA -->

    <!--    END PERSONA-->

    <!--    START Workplace Vision Loss Journeys -->
    <div class="row">
        <div class="col-md-8">
            <h2>Workplace Vision Loss Journey</h2>
                <p>We also learned that the vast majority of people who are blind lose their vision later in life. That means there are many professionals who develop expert skills as sighted people and struggle to adapt to their profession without sight. I took a closer look at the options and attitudes of working professionals losing their vision over time, as pieced together through multiple stories of people with visual impairments. I created a choose-your-own-adventure style graphic in order to inspire a nuanced empathy for our target population for our team and client.</p>
            <div class="pop">

                <img src="../img/bloomberg-port/vision-choice-title.png" class="img-responsive">
                <figcaption class="figure-caption">Some choices people face at work when they lose sight later in life</figcaption>
            </div>

            <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <img src="" class="imagepreview" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <!--    START Finance work -->

    <div class="row">
        <div class="col-md-8">
           <h3>Understanding Finance Workers</h3>
            <h2>Investment Decision Task Sequences</h2>
            <p>We also talked to six finance experts who actively manage investments about their workflows, as wells their use of data and visualizations for decision-making. Our goals were to learn more about the workflows of high performing experts and identify what data is and is not important for guiding their steps and decisions. We focused on interviewing people who actively managed investments and frequently made buy/sell decisions. Roles included stockbrokers, the president of a capital management firm, analysts, and MBA students.
            </p>
            <p>We observed how these accessed security graphs in real time and walk us through a recent buy or sell decision using their own tools, such as their preferred setups on the Bloomberg Terminal or custom spreadsheets. Through these interviews, and later interviews with chart specialists at Bloomberg, we combined the oberved task sequences into a consolidated expert task sequence of how experts predict price movements from visual charts. This task serves as the basis of what we are currently prototyping, providing the same salient cues through nonvisual means.
            </p>
        </div>
                <div class="col-md-3" style="margin-top:0;">
            <div class="pop">

                <img src="../img/bloomberg-port/expert-task.png" class="img-responsive">
                <figcaption class="figure-caption">Sighted expert task</figcaption>
            </div>

            <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <img src="" class="imagepreview" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--    END Finance work-->
        
            <div class="row">
        <div class="col-md-8">
        <h3>Insights</h3>
            <p>We synthesized our research to Bloomberg in our spring book and presentation, entitled “What Am I Missing?” We offered six insights, told from the perspective of a person with visual impairment:</p>

            <h2>People who help me are interfaces too.</h2> 
            <p>The transfer of info by a sighted person is subject to that their interpretation and expertise.</p>
            <h2>My assistive technology only provides one piece of information at time.</h2>
            <p>It’s hard to view all parts of the puzzle at once because screen readers only provide one piece of information at a time.</p>
            <h2>I use charts as a communication tool.</h2>
            <p>Highlighting visual cues in charts is the easiest way to justify investment decisions.</p>
            <h2>There is no normal.</h2>
            <p>Both PWVI and finance experts depend on their idiosyncratic workflows to get things done.</p>
            <h2>Changing technology is difficult, so it better be worth it.</h2>
            <p>A product must offer a meaningful improvement to justify altering a hard-earned workflow.</p>
            <h2>I use visuospatial metaphors as mnemonics.</h2>
            <p>Visual and spatial references help bridge communication between sighted and blind colleagues.</p>

            </div>
            
        <div class="col-md-4">
        <img src="../img/bloomberg-port/Braille-Display.jpg" class="img-responsive">
        <img src="../img/bloomberg-port/insightgraph.png" class="img-responsive">
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <h3>Opportunity Areas</h3>
            <p>We also identified four major opportunity spaces for designing solutions going into the summer:</p>
            <li>Context for understanding data</li>
            <li>Control in navigating data</li>
            <li>Confidence in data accuracy</li>
            <li>Communication of data</li>   
            <p></p> 
            <p>To quickly generate and record a number of design ideas, our team constructed a creative matrix using our opportunity spaces and the five senses.</p>
            <img src="../img/bloomberg-port/creative-matrix.jpg" class="img-responsive">
            <figcaption class="figure-caption">Creative Matrix</figcaption>
        </div>
    </div>
    
    
    <div class="row">
        <div class="col-md-8">
            <h3>Prototyping</h3>
            <p>From the creative matrix our team created twelve low-fidelity prototypes in parallel, including a conversational user interface, haptic graph navigation (prototypes with taps), and auditory icons ("earcons") to represent stock price graphs and more complex "candlestick" charts. We piloted these internally and with sighted Bloomberg employees to uncover early usability issues.</p>
        </div>
    </div>
       <div class="row">
        <div class="col-md-4">
            <img src="../img/bloomberg-port/graphgeoboardandrubberbands.jpg" class="img-responsive">
        </div>
        <div class="col-md-4">
            <img src="../img/bloomberg-port/haptic.png" class="img-responsive">
        </div>

    </div>
    <div class="row">
        <div class="col-md-4">
            <video width="320" height="240" src="../img/bloomberg-port/candle-trim-timbretones.mov" controls></video>
        </div>
        <div class="col-md-4">
            <video width="320" height="240" src="../img/bloomberg-port/match-candle-trim.mov" controls></video>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p>Based on promising internal tests with pitch-mapping trends and navigation with a USB dial, we built a medium fidelity prototype to navigate stock values, as well as access details on demand.</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/oXQN4aSaWZk" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-8">
            <h3>Next Steps</h3> 
            <p>We're currently iterating and testing the modes of navigation, data, and sound design. We're also focusing more on the context-enabling visual indicators that professionals overlay on top of charts in order to bring more meaning to charts. Stay tuned!
        </div>
    </div>
</div>
