---
permalink: bloomberg
---
{% include head.html %}
{% include post-nav.html %}

<div class="container post">

    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                    Stockgrok: Make investment decisions through sound<br />
<!--                    <small>Research and wireframes toward an intuitive podcast show search UI</small>-->

                </h1>
        </div>
    </div>
    <hr />
    <!-- /.row -->


    <!-- Portfolio Item Row -->
    <div class="row project-top">

        <div class="col-md-8">
            <img src="/img/browser-mock-big.png" alt="Screenshot of Stockgrok home page" class="img-responsive" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        </div>

        <div class="col-md-4 overview">
            <h3>Overview</h3>
            <p>Bloomberg came to us with a problem: People with visual impairments are at a major professional disadvantage in finance because most data is presented in visual graphs. I worked with a team of five over eight months to research and design a solution to close that gap. </p>
            <h3>Project Details</h3>
            <h2>Role</h2>
            <p>Interaction Designer & UX Research Lead</p>
            <!--
            <h2>Methods</h2>
            <p>Contextual Inquiry, Prototyping, Book Design, Survey Design</p>
-->
            <h2>Tools</h2>
            <p>InDesign, Illustrator, Sketch, Mural, Google Forms, Google Sheets, Keynote, Streak CRM</p>
        </div>

    </div>
    <!-- Portfolio Item Detail -->

    <div class="row">
        <div class="col-md-8">
            <h3>Product</h3>
            <p>Stockgrok is a web-based audio-visual tool to allow people across the sighted spectrum to explore stocks with technical indicators that are crucial for investment. This product was the culmination of an eight-month capstone project for Carnegie Mellon's HCI Master's degree with Bloomberg as our client sponsor.</p>
            <iframe class="video" width="825" height="476.72" title="Demo video about Stockgrok. For a fully keyboard-accessible alternative to this video, view it in Chrome or on any Android or iOS device, view it in Firefox with the YouTube ALL HTML5 add-on installed, or disable Flash in Internet Explorer." src="https://www.youtube.com/embed/V4OJVt-dCnc?start=46" frameborder="0" allowfullscreen></iframe>
            <a href="https://stockgrok.github.io">Read a deep dive on the creation of Stockgrok.</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h3>Research</h3>
            <p>Prior to developing Stockgrok, I led user research with visually impaired users in data-centric fields. After summarizing the exising literature in a report entitled <a href="https://drive.google.com/file/d/0ByoKchjIPDmoYnpLZHFjWkMwd0U/view?usp=sharing"> "Accessibility, Visual Impairment, and Finance,"</a> we compiled our findings into an insights report about the state data analysis tools for people with blindness and low vision:</p>
            <a href="https://drive.google.com/file/d/0B3xB654iSWf4NjRWZmNRMExNWk0/view">Insights Report: What Am I Missing?</a>
        </div>
    </div>

</div>

