--- 
permalink: copilot 
--- 
{% include head.html %}
{% include post-nav.html %}


<div class="container post">

    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                    CoPilot for Philips Healthcare<br />
<!--                    <small>Research and wireframes toward an intuitive podcast show search UI</small>-->

                </h1>
        </div>
    </div>
    <hr />
    <!-- /.row -->

    <!-- Portfolio Item Row -->
    <div class="row project-top">

        <div class="col-md-8">
            <img class="img-responsive" src="/img/copilot-case.png" alt="" />
        </div>

        <div class="col-md-4 overview">
            <h3>Overview</h3>
            <p>Asthma management for children: Navigate to clear airways together. Worked with a team of six people to prototype a data-driven solution to help children and their care networks manage asthma systems.</p>
            <h3>Project Details</h3>
            <h2>Role</h2>
            <p>UX Researcher & Interaction Designer</p>
            <h2>Tools</h2>
            <p>Sketch, Adobe Illustrator, Tableau, Mural</p>
            <h2>Team</h2>
            <p>Jeffrey Chou (Tech Lead), Michelina Campanella (PM and Data Design), Raphael Weikart (Graphic Design), Clara Kim (UI Design)</p>

        </div>

    </div>
    <!-- Portfolio Item Detail -->
    <div class="row">
        <div class="col-lg-8">
            <h3>Final Design</h3>
            <p>CoPilot is an iPhone app service concept to make it easy for parents, teachers and children to react in real time to changing asthma triggers in the environment. Children and their care network receive customized, actionable recommendations whenever environmental allergens pass a child's personal threshold for alert.</p>
            <div class="frame">
                <iframe src="https://player.vimeo.com/video/216626982" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <h3>Design Brief</h3>
            <p>About 10% of children in the US suffer from asthma. While medication and good habits can help keep childhood asthma under control, it requires coordination between children and their care network to manage the child’s triggers for asthma. Often, children and their caregivers lack basic awareness of the best medical practices for managing and adapting to changing asthma symptoms.
                <br>
                <br>
                <h2>Philips posed the following questions to our team:</h2>
                <li>How might we build more awareness of asthma triggers for children?</li>
                <li>How might we support the transition of children (4–10 years of age) from parental management to self-management?</li>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <h3>Process</h3>
            <p>To tackle this problem, our team began to wrap our head around the problem space and outline our project plan. We documented our process for Philips Healthcare through <a href="https://medium.com/children-and-asthma-service-design-with-philips">regular posts on Medium.</a></p>
            <img class="img-responsive" src="/img/process-copilot.jpg" alt="" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <h3>Define Problem</h3>
            <h2>Secondary Research & Exploratory Interviews</h2>
            <p>We created a field guide and conducted several informal interviews in order to learn more about the problem space and define our goals. We spoke with two students who had suffered from asthma as children and one behavioral therapist at a middle school who works with children with asthma.</p>
            <p>At the same time, we broke down all major concepts related to the prompt, sorting them into major categories including stakeholders, places, objects, emotions, triggers, behaviors and information. We used these concepts to guide our secondary research and exploratory interviews. We also brainstormed our questions around the prompt, for example: how do caregivers communicate out a child's asthma? What kind of treatment regimens exist? How strictly do children follow these treatment regimens? How much do children understand about their triggers, and how much do they care? We began sensemaking our findings by sharing our sketches and notes, clustering ideas into affinity groups.</p>
        </div>
        <div class="col-lg-4">
            <div class="quote" style="margin-top:110px;">
                <p class="quote-text">&#8220;I wish I'd had a tool to say &#8216;yes, you can do this&#8217; and &#8216;no you shouldn’t do that.&#8217;&#8221;</p>
                <p>—A CMU student who suffered from allergic asthma as a child</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">


            <div class="pop">

                <img class="img-responsive" src="/img/sd-port/value-flow.jpeg" alt="" />
                <figcaption class="figure-caption">Themes from secondary research and exploratory interviews</figcaption>
            </div>

            <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <img src="" class="imagepreview" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-4">


            <div class="pop">

                <img class="img-responsive" src="/img/sd-port/concept-list.jpeg" alt="" />
                <figcaption class="figure-caption">List of concepts by category</figcaption>
            </div>

            <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <img src="" class="imagepreview" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>



    <div class="row">
        <div class="col-lg-8">
            <h3>Synthesize Findings</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <p>In our research, we observed several key problem and opportunity areas. </p>
            <p>As young patients get older, they need self-efficacy to make decisions, as there is no proven formula for optimum management, but lack of any adherence to a plan can lead to dire consequences. We also found that asthma patients benefit from an individualized asthma action plan because every asthma regimen is unique, and requires a close continuing partnership between doctor, patient, and caretakers for most effective treatment. Our research pointed us to this service proposition: </p>
            <p>Our service is <strong>dynamic, interactive action plan</strong> for asthma that provides <strong>shareable, actionable, and dynamic guidance</strong> for kids and caregivers by incorporating both<strong> macro and micro real-time data</strong>, including the communication of child's health status and asthma triggers in a digital medium, unlike traditional static paper-based asthma action plans, which easily becomes outdated and/or forgotten.</p>
            
            
            
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="/img/sd-port/value-flow-clear.png" alt="" />
            <figcaption class="figure-caption">In our value flow, the parent and doctor co-create value (the personalized action plan) in the presence of the child, and from there on out, the child and the action plan are the main value creators (through continued input of data from the child and from environmental sources). Secondary stakeholders like teachers and the school nurse are prepared to support the child during an emergency but don’t contribute to the everyday plan.</figcaption>

        </div>
        <div class="col-lg-4">

            <img class="img-responsive" src="/img/sd-port/journey-map.jpeg" alt="" />
            <figcaption class="figure-caption">The journey of a child diagnosed with asthma shows strong initial contact with a doctor, with the doctor often focused more on communicating to the parent than the child. The parent then becomes the primary asthma caregiver for the child in daily life, despite not necessarily understanding or remembering everything from earlier doctor's visits. 
        </div>
        <div class="col-lg-3">
            <img class="img-responsive" src="/img/sd-port/stakeholder.jpeg" alt="" />
            <figcaption class="figure-caption">Our stakeholder map shows the school, pharmacy, home, and family/friend homes as key contexts. School struck us as particularly interesting, as the child is in the hands of other people for most of the day — caregivers who likely don't have much background on the asthmatic child's specific condition and asthma triggers. 
            
        </div>
    </div>


    <div class="row">
        <div class="col-lg-8">
            <h3>Ideate Solutions</h3>
            <p>With our research insights in mind, we brainstormed potential solutions individually and as a team. Several early scenarios are shown below. Eventually, we moved forward with two ideas: a spy kit with asthma missions that a kid could bring to school, and asthma trading cards that kids could pull out of their lunchbox and be directed to a relevant asthma challenge or habit. We saw these physical tools being used in coordination with a digital platform which could provide more dynamic information and recommendations, especially for parents and other adult caregivers.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">

            <img class="img-responsive" src="/img/sd-port/ambient-cue.png" alt="" />
            <figcaption class="figure-caption">A sketch I drew of a concept to use ambient light as an indicator to caregivers like teachers about the physiological status of students with asthma. Students would wear wearables that measure their health condition.</figcaption>
        </div>
        <div class="col-lg-4">
            <img class="img-responsive" src="/img/sd-port/scenario2.jpeg" alt="" />
                        <figcaption class="figure-caption">A concept for personalized asthma education in the form of digital bedtime stories.</figcaption>

        </div>
        <div class="col-lg-3">
            <img class="img-responsive" src="/img/sd-port/scenario-3.jpeg" alt="" />
            <figcaption class="figure-caption">A concept which gives parents an educational dashboard and children stories about an asthma superhero.</figcaption>
        </div>
    </div>
    
        <div class="row">
        <div class="col-lg-8">
           <br>
            <h2>"Speeddating" with Parents</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <p>As a next step, we wanted to run some of our concepts and questions by our target users. We created a field guide of questions. I also created storyboards for "speeddating" of critical moments from some of our design ideas. The speeddating method allowed our team to consider critical moments of our concept in the context of a realistic scenario. Also, when shown to the target population (in this case, parents and children), we used these scenarios as launchpads for conversation — allowing the interviewees to tell us which scenarios were more or less realistic and why. Some of the critical moments we explored are depicted in the scenarios below:</p>
        </div>
    </div>
    
<!--    start speeddate-->

    <div class="row">
        <div class="col-lg-2">

            <div class="pop">

                <img class="img-responsive" src="../img/sd-port/speed-card-pushnotification.png" alt="">
                <figcaption class="figure-caption">When is the best time for a notification?</figcaption>
            </div>

            <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <img src="" class="imagepreview" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-2">


            <div class="pop">

                <img class="img-responsive" src="../img/sd-port/speed-print.png" alt="">
                <figcaption class="figure-caption">Is it culturally feasible to ask users to print physical assets for the system?</figcaption>
            </div>

            <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <img src="" class="imagepreview" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="col-lg-2">

            <div class="pop">

                <img class="img-responsive" src="../img/sd-port/speed-stamp-please.png" alt="">
                <figcaption class="figure-caption">Do children want rewards? Will they lie to get them?</figcaption>
            </div>

            <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <img src="" class="imagepreview" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-lg-2">

            <div class="pop">

                <img class="img-responsive" src="../img/sd-port/speed-sad-story.png" alt="">
                <figcaption class="figure-caption">Will children feel singled out if told to do something differently at school because of their asthma?</figcaption>
            </div>

            <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <img src="" class="imagepreview" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    
    <!--    end speeddate-->



    <div class="row">
        <div class="col-lg-8">

            <h2>Working with Kids: Design Critique & App Mania</h2>
            <p>We sat down with a group of kids aged eight to 11 and questioned them on their design preferences and technology habits. Turns out, apps and monsters are cool, cartoon piglets are not. These conversations gave us confidence to pursue an all-digital solution for kids. This allowed us to move away from solutions involving printing or looking up physical cards to pack with the child for school — scenarios that parents told us would could be unrealistic or complicated.</p>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="../img/sd-port/designtable.JPG" alt="">
        </div>
        <div class="col-lg-4">
            <img class="img-responsive" src="../img/sd-port/parent.JPG" alt="">
        </div>s
    </div>

    <div class="row">
        <div class="col-lg-8">
            <h3>Prototype Solution</h3>
            <h2>Service blueprint</h2>
            <p>As our understanding of the problem space and our design concepts changed, we sketched out iterated versions of our service blueprint. The blueprint shows the "frontstage" touchpoints that users interact with over a period of time. For each of these touchpoints, we included details on the "backstage" system flow, interaction type, and potential breakdowns.</p>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <img class="img-responsive" src="/img/sd-port/service-blueprint.jpeg" alt="" />
            
                        <div class="pop">

                <img class="img-responsive" src="/img/sd-port/old-iteration-blueprint.png" alt="" />
                <figcaption class="figure-caption">Earlier iteration of blueprint with weekly rather than daily planning</figcaption>
            </div>

            <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <img src="" class="imagepreview" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
            
        
        </div>
        <div class="col-lg-4">
                        <a href="https://drive.google.com/file/d/0ByoKchjIPDmoYUd0V05XY21wLUU/view?usp=sharing"><img class="img-responsive hover-img" src="/img/sd-port/final-blueprint.png" alt="" target="_blank" /></a>
                        <figcaption class="figure-caption">Most recent service blueprint</figcaption>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
           <h2>Data Design</h2>
            <p>Next, as our service evolved to rely more on real-time changes in environmental conditions, we began researching which environmental asthma triggers we could pull from existing data sources. The service could be designed to update the threshhold based on user input (aka "feedback questions") of a child's symptoms near the borders of a threshhold — to begin with, these could be the standard categories for low/medium/high as defined by the data collection groups. For example, if over time a child is consistently displaying asthma symptoms even during low/medium days, the threshhold could move lower. For more on our experience exploring data, see the Medium post I wrote in collaboration with Michelina Campanella and Jeffrey Chou on <a href="https://medium.com/children-and-asthma-service-design-with-philips/prototyping-with-data-visualizing-environmental-triggers-of-asthma-3c43216784bf">Prototyping with Data</a>.</p>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-4">

            <div class="pop">

                <img class="img-responsive" src="../img/copilot/triggers.png" alt="">
            </div>

            <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <img src="" class="imagepreview" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">

            <div class="pop">

                <img class="img-responsive" src="../img/copilot/data-sources.png" alt="">

            </div>

            <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <img src="" class="imagepreview" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <h2>Screen map</h2>
               <p>Finally, we mocked up several key app interactions our service blueprint. I organized the screen designs into a screen map showing the notification and views for children, teachers, and primary caregivers.</p>
                <div class="pop">

                <img class="img-responsive" src="../img/sd-port/screen-map.png" alt="">
                <figcaption class="figure-caption">Screen map of alerts for each stakeholder</figcaption>
            </div>

            <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <img src="" class="imagepreview" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-8">

            <h3>Evaluate Solutions</h3>
            <h2>Presentation to Philips</h2>
            <p>We presented a <a href="https://drive.google.com/file/d/0B4MDGxHMUOvPVG1VcVpyalA5SzA/view?usp=sharing">pitch deck</a> and <a href="https://vimeo.com/216626982">video</a> to Philips. Our presentation for Philips validated that our group was exploring areas of direct interest to in-house air quality researchers for Philips. In particular, they were interested in the idea of the personalized and dynamic thresholds for alert, since each child has unique and changing asthma symptoms. However, they also noted concern about the reliance on parent and teacher input in order to update the threshold.</p>
            <h2>Future Opportunities</h2>
            <p>In the future, we'd be interested to test the alert frequency and messaging language over time. For example, are users willing and able to input asthma symptoms accurately?  We'd also be interested to learn more about the optimal timing for these user input touchpoints. Additionally, while we didn't have time to explore data visualization in depth, we'd be interested to play around with the amount of data to present to the children and caregivers: how much fine-grained information about allergen trends do they care about? Finally, we would need to further flesh out how data from monitoring centers could be pulled and structured for the app, and build out a basic algorithm to update a threshold based on user input. Upon building this out, Philips could conduct research into the reliability and validity of the personalized thresholds.</p>
            <img class="img-responsive" src="../img/sd-port/team.JPG" alt="">
            <figcaption class="figure-caption">You made it to the end! Enjoy this cute team picture.</figcaption>


        </div>
    </div>

</div>