--- 
permalink: ucre 
--- 
{% include head.html %} 
{% include post-nav.html %}

<div class="fullpost">
<div class="container post">


        <!-- Portfolio Item Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Researching Researchers
                   <br />
                </h1>
            </div>
        </div>
        <hr />
        <!-- /.row -->

        <!-- Portfolio Item Row -->
        <div class="row project-top">

            <div class="col-md-8">
                <img class="img-responsive" src="/img/ucre/750-500-banner.png" alt="" />
            </div>

            <div class="col-md-4 overview">
                <h3>Overview</h3>
                <p>A user research project using Contextual Inquiry methods to define pain points in the academic paper-writing process. Our final deliverable after over two months was a poster concept for a solution tackling how research teams synthesize insights during literature review.</p>
                <h2>Role</h2> 
                <p>Design Lead</p>
                <h2>Team</h2> 
                <p>Adam Yee, Vita Chen, Neil Bantoc</p>
                <h2>Methods</h2>
                <p>Figma, Sketch, Contextual Design, Speeddating, Improv Visioning</p>
            </div>

<!--
       This project was completed for a search & analytics client in a 5-person team over 6 weeks. Our client was seeking new features that would be useful to academic researchers, part of their large customer base.
SOLUTION

Our proposed product, uClipper, is an in-browser tool for saving content from across different sources for concept building and analysis within the client's main product offering. By operating within the platforms researchers already use, collecting and analyzing resources becomes a seamless process. 
SKILLS

Contextual interviews, interview interpretation, affinity models, flow and cultural models, visioning, storyboards, speed-dating.
PROCESS
Contextual Interviews & Interpretations

Our team conducted hour-long interviews with PhD students, post-docs, and professors, and a librarian at Carnegie Mellon to understand the academic research process. Through interpretation sessions and the creation of sequence flow models, we found a number of pain points in the literature review phase.
-->
      
       
        </div>
        <!-- Portfolio Item Detail -->
        <div class="row post-description">    
            <div class="col-lg-8">
                <h3>The problem</h3>
                <p>Our stakeholder was the search analytics company uReveal. uReveal sought deeper understanding of the workflow of their acadamic users in order to learn what kinds of tools they could create to better address breakdowns in the research process.
                <h2>Process</h2>
            </div>
    </div>
                <div class="row">
                       <div class="col-lg-8">
                        <img src="/img/ucre/process-diamond.png" alt="Process double diamond" class="img-responsive" />
                    </div>
                       <div class="col-lg-8">
                        <p>Our team focused on discovering the current process of academic users in the context of writing a research paper. With our research findings in hand, our team articulated a problem statement and used visioning techniques to narrow down to our final concept: a platform for sharing research summaries. 
                       </p>
                    </div>
                    </div>
                <div class="row">
                   <div class="col-lg-8">
                   <h2>Contextual Inquiry</h2>
                    <img src="/img/ucre/affinity-actionshot.jpg" alt="Speed-dating story board" class="img-responsive" />
                    <p>Our team conducted hour-long interviews with PhD students and professors at Carnegie Mellon to understand the academic research process. After analyzing our interviews in interpretation sessions, we created a sequence-flow diagram synthesizing the with research tasks and timelines that were common across interviews.  We noticed a cluster of breakdowns during a phase we identified as "Exploratory Research," which includes the literature review process.
                    </p>
                    </div>
                    </div>
                <div class="row">
                   <div class="col-lg-8">
                <img src="/img/ucre/sequence-flow.png" alt="Sequence flow" class="img-responsive" />
                    <p> We also considered the sequence-flow for academic researchers in the context of a cultural model and affinity diagram clusters.  this with our cultural model of research stakeholders, and considered how the breakdowns might be related to the varied intents from researcher to researcher, where junior researchers are more interested in gaining personal experience and influence, whereas more senior advisors may be be more interesed in mentoring junior researchers to carry on their legacy. 
                    </p>
                    <p>Our affinity diagram also revealed insights about how researchers collaborate with each other, noting that breakdowns occured when researchers used different literature review methods, and when more established researchers had to communicate context to researchers who had less experience in the field.</p>
                    </div>
                </div>
                    <div class="row">
                    <div class="col-lg-4">
                <img src="/img/ucre/affinity-close.jpeg" alt="Speed-dating story board" class="img-responsive" />
                        
                    </div>
                    <div class="col-lg-4">
                <img src="/img/ucre/cultural-model.png" alt="Speed-dating story board" class="img-responsive" />
                        
                    </div>
                <div class="row">
                    <div class="col-lg-8">
                        
                  <p>Our team zoned in on several key statements unearthed during our research discovery phase, related to the challenge of summarizing findings from literature review across members of a research team with varying levels of experience.</p>
                   <img src="/img/ucre/key-statements.png" alt="Speed-dating story board" class="img-responsive" />
                    
                    </div>
                </div>
                <h3>Visioning</h3>
                   <div class="row">
                       
                    <div class="col-lg-8">
                        <p>With these insights in mind, we moved on to the visioning phase of our process in order to narrow down to a concept. We started with quick improv sketches with the whole team, creating scenarios around alternative literature review processes. </p><p>As we threw out wild ideas and conceptualized them as scenarios, we were able to identify promising solutions, as well as generate questions about potential pitfalls of these solutions.</p><p>Next, in order to probe potential users about some of our assumptions and questions about potential solutions, we used the "speeddating methods." We drew out several refined scenarios pulled from the improv visioning that addressed aspects of our designs we were uncertain about, such as feelings around privacy if researchers shared summaries from their literature review.</p>

                    </div>
                    <div class="col-lg-3">
                        <img src="/img/ucre/visioning.jpeg" alt="Speed-dating story board" class="img-responsive half" />
                       </div>
                       <div class="col-lg-8">                
                <br>
                <img src="/img/ucre/speeddate.png" alt="Speed-dating story board" class="img-responsive" />     
                <figcaption class="figure-caption">Storyboard exploring our questions around privacy settings of our solution.</figcaption>
                <br>
                
                <p>We used these insights to decide on our final concept: a social platform where researchers can share and comment on paper summaries. This solution allows novice researchers to understand the gist of research literature in the context of the specific perspectives of relevant researchers, as well as browse insights from researchers across fields. In addition to this, more established researchers can share knowledge and establish influence within their field.</p>
                
    <h3>Final Poster</h3>
               
                           <div class="pop">

                <img src="/img/ucre/final.png" alt="Speed-dating story board" class="img-responsive" />
                <figcaption class="figure-caption">A chart of tasks recently completed by visually impaired survey respondants.</figcaption>
            </div>

            <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <img src="" class="imagepreview" style="width: 100%;">
                        </div>
                    </div>
                </div>
            </div>
                
            </div>
</p></div></div></div></div>

