<footer>
    <hr>
       <div class="row">
        <div class="col-lg-12">
            <ul class="nav navbar-nav">
                <li><a href="https://twitter.com/saltzshaker" target="_blank"><span class="fa fa-twitter fa-2x" aria-hidden="true"></span></a></li>
                <li><a href="https://github.com/Saltzshaker" target="_blank"><span class="fa fa-github fa-2x" aria-hidden="true"></span></a></li>
                <li><a href="https://www.linkedin.com/in/esaltz" target="_blank"><span class="fa fa-linkedin fa-2x" aria-hidden="true"></span></a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 copyright">
            <p><a href="mailto:essaltz@gmail.com?Subject=Hello" target="_top">Emily Saltz</a><span class="fa fa-copyright fa-lg" aria-hidden="true"></span>2017</p>
        </div>
    </div>
    <!-- /.row -->
    <script src="script.js" async></script>
</footer>