<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="{{ site.baseurl }}/">Emily Saltz</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="https://twitter.com/saltzshaker" target="_blank"><span class="fa fa-twitter fa-2x" aria-hidden="true"></span></a></li>
        <li><a href="https://github.com/Saltzshaker" target="_blank"><span class="fa fa-github fa-2x" aria-hidden="true"></span></a></li>
        <li><a href="https://www.linkedin.com/in/esaltz" target="_blank"><span class="fa fa-linkedin fa-2x" aria-hidden="true"></span></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#projects"><span>projects</span></a></li>
        <li><a href="saltz-resume-color.pdf"><span>résumé</span></a></li>
<!--        <li><a href="#"><span>writing</span></a></li>-->
        <li><a href="mailto:essaltz@gmail.com?Subject=Hello" target="_top"><span>contact</span></a></li>
    </ul>
    </ul>
</nav>