<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="{{ site.baseurl }}/">Emily Saltz</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="#projects"><span>projects</span></a></li>
        <li><a href="saltz-resume-color.pdf"><span>résumé</span></a></li>
<!--        <li><a href="#"><span>writing</span></a></li>-->
        <li><a href="mailto:essaltz@gmail.com?Subject=Hello" target="_top"><span>contact</span></a></li>
    </ul>
    </ul>
</nav>