<!-- Navigation -->

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ site.baseurl }}/">

<img src="/img/fav-32.png" id="squiggly" alt="">
        </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">

            <!--                <a href="#featured" class="project-link"><span>projects</span></a>-->
            <li><a href="#case-studies" class="project-link"><span>case studies</span></a></li>
            <li><a href="#emerging-media" class="project-link"><span>emerging media</span></a></li>
            <li><a href="#play" class="project-link"><span>play</span></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-left">
            <li><a href="/about" class="project-link"><span>about</span></a></li>
            <li><a href="/resume" class="project-link"><span>résumé</span></a></li>
            <li><a href="/writing" class="project-link"><span>writing</span></a></li>
        </ul>
    </div>


    <!-- /.navbar-collapse -->
    <!-- /.container -->
</nav>