---
layout: default
---

<script>
$("a").on('click', function (event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
        // Prevent default anchor click behavior
        event.preventDefault();

        // Store hash
        var hash = this.hash;

        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
            scrollTop: $(hash).offset().top
        }, 1000, function () {

            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
        });
    } // End if
});
</script>
<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
    {% else %}
    <header class="masthead">
        {% endif %}
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                    <div class="page-heading">
                        <h1>{{ site.title }}</h1>
                        {% if site.description %}
                        <span class="subheading">{{ site.description }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            
    </header>
    <br id="projects">
    <br>
    <div class="container">
    <div class="col-lg-11 mx-auto work">
        <h2>User Experience</h2>
<p><a href="https://www.bloomberg.com/ux/2018/08/28/visually-impaired-working-finance-nearly-impossible-bloombergs-ux-designers-working-change/" style="font-weight: 500">Stockgrok (Bloomberg)</a> - A sonic chart analysis tool for finanial visualizations</p>
        <p><a href="https://www.researchgate.net/publication/320315148_Toward_Measuring_Empathy_in_Virtual_Reality" style="font-weight: 500">Toward Measuring Empathy in Virtual Reality</a> - A qualitative user research protocol for measuring emotion in VR</p>
        <p><a href="https://saltzshaker.github.io/podfinder" style="font-weight: 500">Pop Up Archive</a> - 
Community codesign and wireframing for podcast and radio search products</p>
        <p><a href="https://saltzshaker.github.io/biofeedback-chat" style="font-weight: 500">Expressive Biofeedback Chat</a> - A pilot study exploring sharing skin conductance values through kinetic typography</p>
        <p><a href="https://saltzshaker.github.io/copilot" style="font-weight: 500">CoPilot (Philips)</a> - An iPhone app service concept to make it easy for parents, teachers and children to react in real time to environmental asthma triggers</p>
<!--        <p><a href="" style="font-weight: 500">uReveal</a> - Link to post</p>-->

        <h2>Art & Speculative Design</h2>
        <p><a href="http://super-sad-googles.glitch.me" style="font-weight: 500">Super Sad Googles (Code Societies @ SFPC)</a> - Autocomplete populated by crowdcourced "sad" google searches</p>
        <p><a href="https://www.sarahsschwartz.com/filterbubbleroulette/" style="font-weight: 500">Filter Bubble Roulette (Winner of Mozilla's Reality Redrawn Challenge)</a> - An experience to inhabit user-specific social media feeds based on volumetric video interviews with a range of New Yorkers. Exhibited at the Tech Museum of Innovation</p>
        <p><a href="https://saltzshaker.github.io/close" style="font-weight: 500">Close (but not too close)</a> - An interactive instillation using depth-sensors to explore the concept of proxemics with a virtual figure</p>
        <p><a href="https://saltzshaker.github.io/into-the-mode" style="font-weight: 500">Into the Mode</a> - A web simulation of an early mode-based text editor which explores an alternate history of computer-based text editing</p>
<!--        <p><a href="" style="font-weight: 500">BreatheIO Bot</a> - Link to post</p>-->
        <p><a href="https://saltzshaker.github.io/illustration-mashups" style="font-weight: 500">Slavic Vintage Illustration Mashups</a> - Vector recreations and collages of found vintage Soviet print designs</p>
<!--
        <p><a href="" style="font-weight: 500">NYPL Audio Map A-to-V</a> - A-to-V is a one-stop central database where collectors of oral histories provide searchable information about their audio files and make those files directly available to users.
</p>
-->
        <h2>Talks & Workshops</h2>
        <p><a href="https://www.slideshare.net/EmilySaltz/neither-her-nor-hal-considering-access-and-representation-in-the-next-generation-of-speech-technology" style="font-weight: 500">Neither Her Nor Hal</a> - Considering Access and Representation in the Next Generation of Speech Technology at Processing Community Day 2019 in Los Angeles</p>
        <p><a href="http://www.csun.edu/cod/conference/2018/sessions/index.php/public/presentations/view/236" style="font-weight: 500">New Frontiers in Data Sonification</a> - A presentation of Bloomberg/CMU accessibility user research and design at the CSUN Assistive Tech Conference	 
</p>
<!--        <p><a href="https://youtu.be/UqbO-gRyTdE?t=3882" style="font-weight: 500">Code Societies</a> - </p>-->
        <h2>Writing</h2>
        <p><a href="http://mediashift.org/2014/08/speech-recognition-for-media-its-not-all-about-accuracy/" style="font-weight: 500">Speech Recognition for Media: It’s Not All About Accuracy (PBS Mediashift)</a> - A call for publishers to consider the benefits of imperfect machine-generated transcripts </p>
        <p><a href="https://tinyletter.com/potato-is-a-mass-noun" style="font-weight: 500">Potato is a Mass Noun</a> - A newsletter about language, life, and technology </p>
        <p><a href="https://itunes.apple.com/us/podcast/popcast/id970535981?mt=2" style="font-weight: 500">Popcast by Pop Up Archive</a> - Script editing and creative direction for found sound podcast with stories ranging from 1904 wax cylinder songs to NASA's interstellar rumbles</p>
        <p><a href="" style="font-weight: 500">Using Speech Technology For Political Analysis (Medium)</a> - In this project the Pop Up Archive team took a look at how text analysis tools could bring insight about the speech patterns and key topics during an especially crowded Oakland mayoral race</p>
        <p><a href="https://medium.com/children-and-asthma-service-design-with-philips/prototyping-with-data-visualizing-environmental-triggers-of-asthma-3c43216784bf" style="font-weight: 500">Prototyping With Data: Visualizing Environmental Triggers Of Asthma (Medium)</a> - A blog post about exploratory data visualization of asthma triggers for an asthma service design interface</p>
        <p><a href="https://medium.com/@PopUpArchive/what-are-the-top-challenges-facing-digital-audio-in-2015-part-one-4483fc2dc498" style="font-weight: 500">What Are The Top Challenges Facing Audio In 2015? (Medium, Republished On PBS Mediashift)</a> - A two-part collection of quotes from podcast and radio influencers surveying challenges facing spoken word audio in the digital landscape, created in collaboration with Anne Wootton

</p>
                <h2>Hackathons</h2>
        <p><a href="https://experiments.withgoogle.com/morse-striker" style="font-weight: 500">Morse Striker (Google Creative Lab/Adaptive Design)</a> - A spy-themed soccer game developed with a student with motor and visual diabilities</p>
        <p><a href="https://saltzshaker.github.io/amviewlate" style="font-weight: 500">Amviewlate (ArchHacks Health Tech @ WashU)</a> - Voice-activated augmented reality guide for Parkinson's Disease</p>
        <p><a href="https://hackdash.org/projects/5918b5c24545fa01a8db176d" style="font-weight: 500">Voxanon (Come and Play Audio Hackathon)</a> - VoxAnon is a platform for submitting anonymous audio stories with the ability to use vocal filters to change their voice to share their story anonymously, or to modify their voice for fun 
</p>


    </div>
    </div>
